<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paul Magadi</title>

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        :root {
            --main: orange;
        }
        .container {
            background-color: var(--main);
            color: orange;
        }
    </style>
</head>
<body>
    <div class="container">
        <nav>
            <div class="navbar">
                <ul>
                    <a href="#"><li>Paul Magadi</li></a>
                    <a href="#"><li>Paul Magadi</li></a>
                    <a href="#"><li>Paul Magadi</li></a>
                    <a href="#"><li>Paul Magadi</li></a>
                    <a href="#"><li>Paul Magadi</li></a>
                </ul>
            </div>
        </nav>
    </div>
</body>
</html>